//热搜、分类标题样式抽象复用
@mixin title($height: 5%) {
    position:absolute;
    left: 0.5rem;
    padding: 0 0.5rem;
    top:$height
  }

.sort{
   .top{
    @include title;
        &-content{
        @include title(11%);
        width: 100vw;
        color:$basicColor;
        display: grid;
        margin-top:1vh;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        gap:  1rem;
        div{
            @include ellipsis(100%);
        }

        
    
    }
   }
   .bottom{
    @include title(25vh);
   }
}