//热搜、分类标题样式抽象复用
@mixin title($height: 5%) {
    position:absolute;
    left: 0.5rem;
    padding: 0 0.5rem;
    top:$height
  }

.sort{
    position: relative;
    height:100%;
    width:100%;
   .top{
    @include title;
        &-content{
        @include title(11rem);
        color:$basicColor;
        display: grid;
        width: 90vw;
        top: 12%;
        margin-top:1%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        gap:  1rem;
        div{
            @include ellipsis(100%);
        }

        
    
    }
   }
   .bottom{
    @include title(30%);
    &-content{
        list-style: none;
        display: grid;
        width: 90vw;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        position: absolute;
        top: 37%;
        margin-top: 1rem;
        left: -5%;
        &-item{
            display: flex;
            justify-content: space-around;
            background: linear-gradient(1deg, #f6f6f6, transparent);
            border-radius: .3rem;
            padding: 0 1rem;
            margin-bottom: .3rem;

            i {
                font-size: 1.2rem;
            }

            li {
                margin-left: .5rem;
                line-height: 2rem;
            }
        }
}
}
}