.search-line{
    width: 95%;
    height: 8vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0rem;
    left: 0rem;
    padding: 0 0.5rem;
}