.title {
    span {
        margin-left: 0.5rem;
    }
}

.content {
    img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }

    .comment {
        color: $basicColor
    }
}