// * 统一页面链接格式
@mixin normalLink {
    color: black;
    &.active{
        color:rgb(150, 143, 141)
    }
}

// * 超出内容显示省略号
@mixin ellipsis($width:9rem) {
width:$width;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

// * 内容居中
@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}